<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd" profile="default">



		<bean id="lobDelegates"
			class="com.tcs.dews.lobintegration.spring.LobIntegrationDelegateRegistryFactoryBean"
			p:resource="lob">
			<property name="delegateConfigs">
				<list>
					<bean class="com.tcs.dews.lobintegration.spring.DelegateConfig"
						p:key="A" p:contextRoot="AutoQuoteService" p:defaultHost="localhost:8080" />
					<bean class="com.tcs.dews.lobintegration.spring.DelegateConfig"
						p:key="F" p:contextRoot="HomeOwnersQuotePurchase-Web"
						p:defaultHost="localhost:8080" />
					<bean class="com.tcs.dews.lobintegration.spring.DelegateConfig"
						p:key="L" p:contextRoot="LifeQuotePurchase-Web" p:defaultHost="localhost:8080" />
				</list>
			</property>
		</bean>

</beans>